.btn-group {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
}

.btn-group button {
	padding: 10px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	border: none;
}

.btn-group button:hover {
	filter: brightness(85%);
}

.btn-group button.accept {
	background-color: var(--button-accept);
}

.btn-group button.cancel {
	background-color: var(--button-cancel);
}

img.clickable {
	cursor: pointer;
}