dialog {
	background-color: #000000;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog .btn-group {
	margin-top: 10px;
}

#prompt {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0px;
}