dialog {
	background-color: #000000;
	border: 1px solid white;
	border-radius: 5px;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog .btn-group {
	margin-top: 10px;
}

h1, h2, h3, p {
	margin: 10px;
	text-align: center;
}