.input-grid {
	display: grid;
	column-gap: 10px;
	row-gap: 5px;
	align-items: center;
}

.input-grid * {
	margin-top: 0px;
	margin-bottom: 0px;
}

.input-grid .last-item {
	text-align: right;
}

legend {
	display: table;
	float: left;
	margin: 8px 0;
	padding: 0;
	width: 100%;
	+ * {
		clear: both;
	}
}

fieldset {
	border: 0;
}

fieldset > *:last-child {
	margin-bottom: 8px;
}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}