form {
	width: fit-content;
}

p {
	text-align: left;
	margin: 0px;
}

fieldset {
	border: solid var(--content-txt-color) 1px;
	padding: 10px;
	margin: 10px;
}

input, label, legend {
	font-family: monospace;
	font-size: 14px;
}

input, select {
	border: solid var(--content-txt-color) 1px;
	min-width: fit-content;
}

input:focus, select:focus {
	outline: none;
}

input:disabled, select:disabled {
	background-color: var(--form-disabled-color);
}

button {
	margin-top: 0px;
}

.input-grid {
	display: grid;
	column-gap: 10px;
	row-gap: 5px;
	align-items: center;
}

legend {
	top: -0.6em;
	position: relative;
	height: 0;
}

form img {
	width: 16px;
}

hr {
	width: 100%;
	border: none;
	border-top: solid var(--content-txt-color) 1px;
}

.last-item {
	width: 100%; 
	display: flex; 
	justify-content: flex-end; 
	align-items: center;
	column-gap: 5px;
}