.center-div {
	display: grid;
	justify-content: center;
}

p {
	text-align: left;
	margin: 0px;
}

fieldset {
	border: solid white 1px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

input, label, legend {
	font-family: monospace;
	color: white;
	font-size: 14px;
	background-color: black;
}

input {
	border: solid white 1px;
	width: min-content;
}

input:focus {
	outline: none;
}

input:disabled {
	background-color: #606060;
}

select {
	border: solid white 1px;
	background-color: black;
	color: white;
}

select:disabled {
	background-color: #606060;
}

button {
	margin-top: 0px;
}

.input-grid {
	display: grid;
	column-gap: 10px;
	row-gap: 5px;
	align-items: center;
}

legend {
	top: -0.6em;
	position: relative;
	height: 0;
}

form img {
	width: 16px;
}

form > * {
	margin-top: 10px;
}

hr {
	width: 100%;
	border: none;
	border-top: solid white 1px;
}

.last-item {
	width: 100%; 
	display: flex; 
	justify-content: flex-end; 
	align-items: center;
}