article {
	border: solid white 1px;
	border-radius: 5px;
	padding: 0px 1em 0px 1em;
	margin: 20px 0px 20px 0px;
}

.summary-div {
	display: flex;
	align-items: center;
}

.summary-div div {
	display: flex;
	column-gap: 10px;
	align-items: center;
	width: 50%;
}

.summary-div div img {
	height: 16px;
}

.resource-div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.resource-div div {
	display: flex;
	column-gap: 10px;
	align-items: center;
	width: 25%;
}

.resource-div div img {
	height: 16px;
}

hr {
	border: none;
	border-top: solid white 1px;
	margin: 0px;
}