article {
	border: solid white 1px;
	border-radius: 5px;
	padding: 0px 1em 0px 1em;
	margin: 20px 0px 20px 0px;
}

article > div {
	display: flex;
	align-items: center;
}

article > div > div {
	display: flex;
	column-gap: 10px;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
}

article > div > div > img {
	height: 16px;
}

hr {
	border: none;
	border-top: solid white 1px;
	margin: 0px;
}

.btn-group {
	margin: 14px 0px 14px 0px;
}