:root {
	--fail-color: #f00;
	--success-color: #0f0;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h3, h4, h5, h6, p, a, label, button, input, select, td {
	font-family: monospace;
}

body {
	min-height: 100vh;
}

img.clickable {
	cursor: pointer;
}

img {
	height: 1em;
	width: 1em;
}

.flex {
	display: flex;
}

.row {
	flex-direction: row;
	column-gap: 10px;
	align-items: center;
}

.wrap {
	flex-wrap: wrap;
	row-gap: 10px;
}

.nowrap {
	flex-wrap: nowrap;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}