h1, h2, h3, h3, h4, h5, h6, p, a, label, button, input, select {
	font-family: monospace;
}

body {
	min-height: 100vh;
}

img.clickable {
	cursor: pointer;
}

img {
	height: 1em;
	width: 1em;
}

.flex-row-nowrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: 10px;
	align-items: center;
	height: 100%;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}