body {
	background-color:black;
}

h1, h2, h3, p {
	font-family: monospace;
	color: white;
}

h1 {
	font-size: 72px; 
	text-align: center;
}

h2 {
	font-size: 32px; 
	text-align: center;
}

h3 {
	font-size: 24px; 
	text-align: center;
}

p {
	font-size: 14px; 
	text-align: left;
}

@media screen and (min-width: 480px) {
.center-div {
	min-width: 480px;
	max-width: 50%;
	width: min-content;
	margin-left: auto;
	margin-right: auto;
}
}
@media screen and (max-width: 480px) {
.center-div {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
}

.btn-group {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.btn-group button {
	background-color: #00ff00; /* Green background */
	color: black; /* White text */
	padding: 10px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	border: none;
}

.btn-group button:hover {
	background-color: #008800;
}