table {
	padding: 10px;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

thead {
	background-color: var(--accent-bkg-color);
	color: var(--accent-txt-color);
}

tbody {
	background-color: var(--content-bkg-color);
	color: var(--content-txt-color);
}

tbody tr:nth-child(even) {
	background-color: #ddd;
}

tbody tr:hover {
	background-color: #aaa;
}

th, td {
	padding: 5px;
}