<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "head" .}}
		<script src="scripts/config.js" type="module"></script>
		<script src="scripts/draggable.js" type="module"></script>
		<script src="modules/Sortable.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
		<link rel="modulepreload" href="scripts/utils.js">
		<link rel="modulepreload" href="scripts/dialog.js">
		<style>
			.input-grid p, .input-grid div {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
				overflow: hidden;
				white-space: nowrap;
			}
		</style>
	</head>
	<body>
		<header>
			{{template "header" .}}
		</header>
		<main>
			<section>
				<h2 id="name"><a href="index">Instances</a> / {{.config.Name}}</h2>
				<form>
					<fieldset class="w3-card w3-padding">
						<legend>Resources</legend>
						<div class="input-grid" id="resources" style="grid-template-columns: auto auto auto 1fr;">
							{{if eq .config.Type "VM"}}
								{{template "proctype-input" .config.ProctypeSelect}}
							{{end}}
							{{template "cores-input" .config.Cores}}
							{{template "memory-input" .config.Memory}}
							{{if eq .config.Type "CT"}}
								{{template "swap-input" .config.Swap}}
							{{end}}
						</div>
					</fieldset>
					<fieldset class="w3-card w3-padding">
						<legend>Volumes</legend>
						<div class="input-grid" id="volumes" style="grid-template-columns: auto auto 1fr auto;">
							{{template "volumes" .config.Volumes}}
						</div>
						<div class="w3-container w3-center">
							<button type="button" id="disk-add" class="w3-button" aria-label="Add New Disk">
								<span class="large" style="margin: 0;">Add Disk</span>
								<svg class="small" role="img" style="height: 1lh; width: 1lh;" aria-label="Add New Disk"><use href="images/actions/disk/add-disk.svg#symb"></use></svg>
							</button>
							{{if eq .config.Type "VM"}}
							<button type="button" id="cd-add" class="w3-button" aria-label="Add New CD">
								<span class="large" style="margin: 0;">Mount CD</span>
								<svg class="small" role="img" style="height: 1lh; width: 1lh;" aria-label="Add New CDROM"><use href="images/actions/disk/add-cd.svg#symb"></use></svg>
							</button>
							{{end}}
						</div>
					</fieldset>
					<fieldset class="w3-card w3-padding">
						<legend>Network Interfaces</legend>
						<div class="input-grid" id="networks" style="grid-template-columns: auto auto 1fr auto;">
							{{template "nets" .config.Nets}}
						</div>
						<div class="w3-container w3-center">
							<button type="button" id="network-add" class="w3-button" aria-label="Add New Network Interface">
								<span class="large" style="margin: 0;">Add Network</span>
								<svg class="small" role="img" style="height: 1lh; width: 1lh;" aria-label="Add New Network Interface"><use href="images/actions/network/add.svg#symb"></use></svg>
							</button>
						</div>
					</fieldset>
					{{if eq .config.Type "VM"}}
					<fieldset class="w3-card w3-padding">
						<legend>PCIe Devices</legend>
						<div class="input-grid" id="devices" style="grid-template-columns: auto auto 1fr auto;">
							{{template "devices" .config.Devices}}
						</div>
						<div class="w3-container w3-center">
							<button type="button" id="device-add" class="w3-button" aria-label="Add New PCIe Device">
								<span class="large" style="margin: 0;">Add Device</span>
								<svg class="small" role="img" style="height: 1lh; width: 1lh;" aria-label="Add New PCIe Device"><use href="images/actions/device/add.svg#symb"></use></svg>
							</button>
						</div>
					</fieldset>
					<fieldset class="w3-card w3-padding">
						<legend>Boot Order</legend>
						<div id="boot-order">
							{{template "boot" .config.Boot}}
						</div>
					</fieldset>
					{{end}}
					<div class="w3-container w3-center" id="form-actions">
						<button class="w3-button w3-margin" id="exit" type="button">EXIT</button>
					</div>
				</form>
			</section>
		</main>
	</body>
</html>