<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "head" .}}
		<script src="scripts/config.js" type="module"></script>
		<script src="scripts/draggable.js" type="module"></script>
		<script src="modules/Sortable.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
		<link rel="modulepreload" href="scripts/utils.js">
		<link rel="modulepreload" href="scripts/dialog.js">
		<style>
			.input-grid p, .input-grid div {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
				overflow: hidden;
				white-space: nowrap;
			}
		</style>
	</head>
	<body>
		<header>
			{{template "header" .}}
		</header>
		<main>
			<section>
				<h2><a href="index">Instances</a> / {{.config.Name}} / Config</h2>
				<form id="config-form">
					<fieldset class="w3-card w3-padding">
						<legend>Resources</legend>
						<div class="input-grid" id="resources" style="grid-template-columns: auto auto auto 1fr;">
							{{if eq .config.Type "VM"}}
								{{template "proctype-input" .config.ProctypeSelect}}
							{{end}}
							{{template "cores-input" .config.Cores}}
							{{template "memory-input" .config.Memory}}
							{{if eq .config.Type "CT"}}
								{{template "swap-input" .config.Swap}}
							{{end}}
						</div>
					</fieldset>
					<fieldset class="w3-card w3-padding">
						<legend>Volumes</legend>
						<div class="input-grid" id="volumes" style="grid-template-columns: auto auto 1fr auto;">
							{{template "volumes" Map "Volumes" .config.Volumes "InstanceType" .config.Type}}
						</div>
						<div class="w3-container w3-center">
							<!--Add Disk Button & Dialog Template-->
							{{template "volumes-add-disk" .}}
							<!--Add CD Button & Dialog Template-->
							{{if eq .config.Type "VM"}}
							{{template "volumes-add-cd"}}
							{{end}}
						</div>
					</fieldset>
					<fieldset class="w3-card w3-padding">
						<legend>Network Interfaces</legend>
						<div class="input-grid" id="networks" style="grid-template-columns: auto auto 1fr auto;">
							{{template "nets" .config.Nets}}
						</div>
						<div class="w3-container w3-center">
							<!--Add Net Button & Dialog Template-->
							{{template "nets-add-net"}}
						</div>
					</fieldset>
					{{if eq .config.Type "VM"}}
					<fieldset class="w3-card w3-padding">
						<legend>PCIe Devices</legend>
						<div class="input-grid" id="devices" style="grid-template-columns: auto auto 1fr auto;">
							{{template "devices" .config.Devices}}
						</div>
						<div class="w3-container w3-center">
							<!--Add Device Button & Dialog Template-->
							{{template "devices-add-device"}}
						</div>
					</fieldset>
					<fieldset class="w3-card w3-padding">
						<legend>Boot Order</legend>
						<div id="boot-order">
							{{template "boot" .config.Boot}}
						</div>
					</fieldset>
					{{end}}
					<div class="w3-container w3-center" id="form-actions">
						<button class="w3-button w3-margin" id="exit" type="submit">EXIT</button>
					</div>
				</form>
			</section>
		</main>
	</body>
</html>