{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{.global.Organization}} - dashboard</title>
<link rel="icon" href="images/favicon.svg" sizes="any" type="image/svg+xml">
<link rel="stylesheet" href="modules/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script>
	window.PVE = "{{.global.PVE}}";
	window.API = "{{.global.API}}";
</script>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/form.css">
{{end}}

{{define "header"}}
<h1>{{.global.Organization}}</h1>
<label for="navtoggle">&#9776;</label>
<input type="checkbox" id="navtoggle">
<nav id="navigation">
	{{if eq .page "login"}}
		<a href="login.html" aria-current="page">Login</a>
	{{else}}
		<a href="index.html" {{if eq .page "index"}} aria-current="page" {{end}}>Instances</a>
		<a href="account.html" {{if eq .page "account"}} aria-current="page" {{end}}>Account</a>
		<a href="settings.html" {{if eq .page "settings"}} aria-current="page" {{end}}>Settings</a>
		<a href="login.html">Logout</a>
	{{end}}
</nav>	
{{end}}