{{define "select"}}
<select class="w3-select w3-border" id="{{.ID}}" name="{{.Name}}">
{{range .Options}}
	{{if .Selected}}
		<option value="{{.Value}}" selected>{{.Display}}</option>
	{{else}}
		<option value="{{.Value}}">{{.Display}}</option>
	{{end}}
{{end}}
</select>
{{end}}