{{define "svg"}}
	{{if .ID}}
		{{if .Clickable}}
			<svg id={{.ID}} aria-label="{{.Alt}}" class="clickable"><use href="{{.Src}}#symb"></svg>
		{{else}}
			<svg id={{.ID}} aria-label="{{.Alt}}"><use href="{{.Src}}#symb"></svg>
		{{end}}
	{{else}}
		{{if .Clickable}}
			<svg aria-label="{{.Alt}}" class="clickable"><use href="{{.Src}}#symb"></svg>
		{{else}}
			<svg aria-label="{{.Alt}}"><use href="{{.Src}}#symb"></svg>
		{{end}}
	{{end}}
{{end}}